
.category{
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 0 auto;
    place-items: center;
    gap: 15px;
}
.card{
    margin: 0 !important;
    padding: 0 !important;
    transition:  0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}
.category h1{
    grid-column: span 6;
    text-align: center;
    font-size: 2.5rem;
}
.card-body{
    background-color: var(--cor1) !important;
}
.category .card-body .card-text{
    text-align: center;
    color: var(--cor6);
}

@media (max-width:1250px) {
    .category{
        grid-template-columns: repeat(3,1fr) !important;
    }
    .card{
        width: 90% !important;
    }
    .category h1{
        grid-column: span 3;
    }
}

@media (max-width:600px) {
    .category h1{
        grid-column: span 2;
        font-size: 1.5rem;
    }
    .category{
        grid-template-columns: repeat(2,1fr) !important;
    }
}


@media (max-width: 450px){
    
}