
.category{
    width: 100% ;
    max-width: 1300px !important;
    margin: 0 auto;
}
.cardsCategory{
    display: grid !important;
    grid-template-columns: repeat(6,1fr) !important;
    place-items: center;
    gap: 15px;
    
}
.boxCategory{
    margin: 0 !important;
    padding: 0 !important;
    transition: all 0.3s ease;
}

.boxCategory:hover {
  transform: scale(1.08);
}
.cardsCategory h1{
    grid-column: span 6;
    text-align: center;
    font-size: 2.5rem;
}
.searchCategory{
    background-color: #000;
}
.searchCategory .card-text{
    color: #fff;
    text-align: center;
}
@media (max-width:1250px) {
    
    .cardsCategory h1{
        grid-column: span 3;
        font-size: 2rem;
    }
    .cardsCategory{
        grid-template-columns: repeat(3,1fr) !important;
        gap: 25px;
    }
    .boxCategory{
        width: 90% !important;
    }
}

@media (max-width: 768px){
    .boxCategory{
        width: 80% !important;
    }
    
    
}
@media (max-width: 620px){
    .cardsCategory h1{
        grid-column: span 2;
        font-size: 1.5rem;
    }
    .cardsCategory{
        grid-template-columns: repeat(2,1fr) !important;
    }
}