@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fontdoSite);
}

img{
    width: 100%;
}

ul{
    display: flex;
    gap: 20px
}

li{
    list-style: none;
}

a {
    text-decoration: none !important;
}

:root{
    /* Color Primary */
    --cor1: #000;
    --cor2: #ccc;
    --cor3: #daff01;
    --cor4: #9353ff;

    /* Fonte do Site */
    --fontdoSite: "Inter", sans-serif;
}
