header{
    width: 100%;
    border: solid 2px;
    background-color:var(--cor1, #000);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    border: solid 2px;
}

nav img{
    border: solid 2px;
    width: 10vw;    
}

header nav ul{
    display: flex;
    align-items: center;
    border: solid 2px;
}

header nav ul li {
    font-size: 1.5rem;
    border: solid 2px;
}

.headerBusca{
    display: flex;
    gap: 10px;
}
.headerBusca input{
    padding: 7px;
}
.headerBusca button{
    padding: 7px;
    width: 100px;
    background-color: var(--cor1);
    color: var(--cor2);
    border: var(--cor2) 1px solid;
}